<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Car Management System</title>
    <link rel="icon" th:href="@{/img/favicon.ico}"/>
    <link rel="stylesheet" th:href="@{/fonts/css/fontawesome.css}"/>
    <link rel="stylesheet" th:href="@{/fonts/css/solid.css}"/>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>

<div class="outer-panel">

    <div class="title">
        <h1>Car Management System <i class="fas fa-car"></i></h1>
    </div>

    <div class="navigation">
        <div class="btn add-car-btn" th:onclick="'javascript:goTo();'">Main Page</div>
        <div class="btn add-car-btn" th:onclick="'javascript:goTo(\'/cars/addCar\');'">Add Car</div>
    </div>


    <div class="cars-panel shadow">

        <div>
            <form method="post" th:action="@{/cars/year}" class="range-of-years">
                <input class="year-input" type="number" id="year1" name="year1">
                <input class="year-input" type="number" id="year2" name="year2">
                <input class="years-btn" value="search">
            </form>
            <div class="submit-info hide submit-info-years"><p>Fields cannot be empty</p></div>
        </div>


        <table>
            <thead>
            <tr>
                <th>#</th>
                <th>Mark</th>
                <th>Model</th>
                <th>Color</th>
                <th>Production year</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            </thead>

            <tr class="content" th:each="car, stat: ${carList}">
                <td th:onclick="'javascript:goTo(\'/cars/' + ${car.carId} + '\');'">
                    <div class="content-div left-content-div"><p th:text="${stat.count}"></p></div>
                </td>
                <td th:onclick="'javascript:goTo(\'/cars/' + ${car.carId} + '\');'">
                    <div class="content-div"><p th:text="${car.mark}"></p></div>
                </td>
                <td th:onclick="'javascript:goTo(\'/cars/' + ${car.carId} + '\');'">
                    <div class="content-div"><p th:text="${car.model}"></p></div>
                </td>
                <td th:onclick="'javascript:goTo(\'/cars/' + ${car.carId} + '\');'">
                    <div class="content-div"><p th:text="${car.color}"></p></div>
                </td>
                <td th:onclick="'javascript:goTo(\'/cars/' + ${car.carId} + '\');'">
                    <div class="content-div"><p th:text="${car.productionYear}"></p></div>
                </td>
                <td class="edit">
                    <div class="content-div"><i class="fas fa-edit"
                                                th:onclick="'javascript:goTo(\'' +'/cars/edit/'+ ${car.carId}  + '\');'"></i>
                    </div>
                </td>
                <td class="delete">
                    <div class="content-div right-content-div"><i class="fas fa-trash-alt"
                                                                  th:onclick="'javascript:goTo(\'/cars/' + ${car.carId} + '/delete\');'"></i>
                    </div>
                </td>
            </tr>

        </table>


    </div>
</div>

<script th:src="@{/js/goTo.js}"></script>
<script>
    const $year1 = document.querySelector('#year1');
    const $year2 = document.querySelector('#year2');

    const $submitButton = document.querySelector('.years-btn');
    const $submitInfo = document.querySelector('.submit-info');
    const $form = document.querySelector('form');

    function isNotEmpty() {

        if ($year1.value === '' || $year2.value === '') {
            $submitInfo.classList.remove('hide');
            console.log("Submit button clicked");

        } else {
            $form.submit();
            $submitInfo.classList.add('hide');
        }
    }

    $submitButton.addEventListener("click", isNotEmpty);
</script>

</body>
</html>
